{{define "base"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fritz Pi Player - Remote</title>
</head>
<body>



<nav class="blue darken-1" role="navigation">
    <div class="nav-wrapper container"><a href="#" class="brand-logo">Fritz Pi Player</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/list/sd/">SD stations</a></li>
            <li><a href="/list/hd/">HD stations</a></li>
            <li><a href="/list/all/">All stations</a></li>
            <li><a href="/off/">Turn off</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/list/sd/">SD stations</a></li>
            <li><a href="/list/hd/">HD stations</a></li>
            <li><a href="/list/all/">All stations</a></li>
            <li><a href="/off/">Turn off</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
{{template "body" .}}
<script type="text/javascript">
    $('.button-collapse').sideNav({
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true, // Choose whether you can drag to open on touch screens,
            }
    );
</script>
</body>
</html>
{{end}}