{{define "base"}}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fritz Pi Player - Remote</title>
</head>
<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>

<nav class="blue darken-1" role="navigation">
    <div class="nav-wrapper container"><span class="brand-logo">Fritz Pi Player</span>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Menu</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Menu</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
{{template "body" .}}
</body>
</html>
{{end}}